.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 50%;
  font-size: 2rem;
  background-color: red;
  cursor: pointer;
  width: 18rem;
  height: 18rem;
}

.hidden {
  opacity: 0;
}